.red{background-color: red;}
.blue{background-color: blue;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.orange{background-color: orange;}
.pink{background-color: pink;}
.gray{background-color: gray;}
.purple{background-color:purple;}
.chocolate{background-color: chocolate;}
.cyan{background-color: darkcyan;}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-header{
  display: flex;
  flex-flow: row nowrap;
}

.logo{
  display: none;
  height: 60px;
  width: 100px;
}

.top-nav{
  flex-grow: 1;
}

.top-row {
  background-color: black;
  height: 20px;
}

.bottom-row {
  background-color: rgb(156, 124, 124);
  height: 40px;
}

@media screen and (max-width:1024px){
  .logo {
    display: block;
  }
}

.hero {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px 200px;
  grid-gap: 15px;
}

.hero-main {
  grid-row: 1 / span 2;
  background-color: chartreuse;
}

.latest-news h2 {
  height: 40px;
}

.latest-news-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:10px;
}

.latest-news-item {
  height: 200px;
}

@media screen and (max-width:1024px){
  .latest-news-items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:10px;
  }
}

.latest-funding h2 {
 height: 40px;
}

.latest-funding-items{
  display: flex;
  flex-flow: row nowrap;
}

.latest-funding-item {
  height: 200px;
  flex: 1;
}

@media screen and (max-width:1024px){
  .latest-funding-item:last-child {
    display: none;
  }
}

.accessories h2{
  height: 40px;
}

.accessories-items {
  display: grid;
  grid-template-columns: auto auto auto;
}

.accessories-item {
  height: 450px;
}

@media screen and (max-width:1024px){
  .accessories-items {
    display: grid;
    grid-template-columns: auto auto ;
  }
}

.latest-deals h2 {
  height: 40px;
}

.latest-deals-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.latest-deals-item {
  height: 250px;
}

@media screen and (max-width:1024px){
  .latest-deals-items {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

.site-footer {
  background-color: black;
  height: 300px;
}