.red{background-color: red;}
.blue{background-color: blue;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.orange{background-color: orange;}
.pink{background-color: pink;}
.gray{background-color: gray;}
.purple{background-color:purple;}
.chocolate{background-color: chocolate;}
.cyan{background-color: darkcyan;}
.title-color{background-color: darkred}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden{
  display: none;
}

.site-header{
  display: flex;
  flex-flow: row nowrap;
}

.logo{
  display: none;
  height: inherit;
  width: 7.5rem;
  background-image: linear-gradient(to bottom right, #c09, #f42);
}

.logo img {
  position: relative;
  display: block;
  object-fit: cover;
  width: 5rem;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
}

.top-nav {
  flex-grow: 1;
}

.top-row {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: .5rem 1.4rem;
}

.top-row a {
  text-decoration: none;
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
}

.top-row .news-link {
  color: #fff;
}

.top-row a:hover {
  color: #fff;
}

.top-row-left li {
  display: inline-block;
  margin-right: .5rem;
}

.top-row-right li {
  display: inline-block;
  margin-left: .5rem;
}

.bottom-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  height: 50px;
}

.top-nav-links {
  flex-grow: 1;
  height: inherit;
}

.search {
  width: 50px;
  height: inherit;
}

.menu {
  display: none;
  width: 50px;
  height: inherit;
}

@media screen and (max-width:768px){
  .menu {
    display: block;
  }
  .top-row {
    display: none;
  }
}

@media screen and (max-width:1024px){
  .logo {
    display: block;
  }
}

.hero-items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 270px 270px;
}

.hero-main {
  grid-row: 1 / span 2;
  background-color: chartreuse;
}

@media screen and (max-width:768px){
  .hero-items {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 200px;
  }
  .hero-main {
    grid-row: 1;
    background-color: chartreuse;
  }

}

.latest-news {
  max-width: 1200px;
  margin: 0 auto;
}

.latest-news h1 {
  height: 40px;
}

.latest-news-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.latest-news-item {
  height: 200px;
}

@media screen and (max-width:1024px){
  .latest-news-items {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width:768px){
  .latest-news-items {
    display: grid;
    grid-template-columns: auto;
  }
  .latest-news-item {
    height: 100px;
  }
}

.latest-funding {
  max-width: 1200px;
  margin: 0 auto;
}

.latest-funding h1 {
 height: 40px;
}

.latest-funding-items{
  display: flex;
  flex-flow: row nowrap;
}

.latest-funding-item {
  height: 200px;
  flex-grow: 1;
}

@media screen and (max-width:1024px){
  .latest-funding-item:last-child {
    display: none;
  }
}

@media screen and (max-width:768px){
  .latest-funding-items {
    display: flex;
    flex-flow: column wrap;
  }
}

.accessories {
 max-width: 1200px;
 margin: 0 auto;
}

.accessories h1{
  height: 40px;
}

.accessories-items {
  display: grid;
  grid-template-columns: auto auto auto;
}

.accessories-item {
  height: 450px;
}

@media screen and (max-width:1024px){
  .accessories-items {
    display: grid;
    grid-template-columns: auto auto ;
  }
}

@media screen and (max-width:768px){
  .accessories-items {
    display: grid;
    grid-template-columns: auto;
  }
}

.latest-deals {
  max-width: 1200px;
  margin: 0 auto;
 }

.latest-deals h1 {
  height: 40px;
}

.latest-deals-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.latest-deals-item {
  height: 250px;
}

@media screen and (max-width:1024px){
  .latest-deals-items {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width:768px){
  .latest-deals-items {
    display: grid;
    grid-template-columns: auto;
  }
  .latest-deals-item {
    height: 100px;
  }
}

.site-footer {
  background-color: black;
  height: 300px;
}